outlines==0.0.46
pyairports @ git+https://github.com/ozeliger/pyairports.git@f611ee5a5a82b4e98b22641bb99693d862c802e4
sgl-kernel @ https://github.com/SoonjaeH/sgl-kernel-mirror/releases/download/v0.0.8/sgl_kernel-0.0.8-cp39-abi3-manylinux2014_x86_64.whl
